-
  var {skillData, skillBox, legendBox, sectionTitle} = data.skill
include ../header/header
.flex-gap16
  button.buton__normal--black
      .icoana
        a(href="https://www.youtube.com/watch?v=als7xoyNyoE" title="Join the revolution" target="_blank")
          .cv-youtube
  .box__gap-8
    .box__info-box
      .box__section-title= skillBox.title
    .box__info-box
      each content in skillBox.boxContent
        .box__descriere= content

  .wrap 
    each skill in skillData
      .wrap
        .title= skill.title

        .skillContainer 
          each element in skill.skillList
            div(
              class= `pill--${element.color}`
            )= element.skillName

    .box__info-box-shadow
      .box__section-title= legendBox.title
      each regula, cheie in legendBox.boxContent 
        .legendContainer 
          div(
            class= `pill--${regula.color}`
          )= cheie+1
          .box__descriere= regula.text
  button.buton__normal--rosu 
    .icoana 
      .cv-whatsapp
    | Let`s chat!
  //- pre= JSON.stringify(frontEnd, null, 2)
